<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Home
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <img src="https://www.pontofrio-imagens.com.br/criacao/03-hotsite/2021/10-out/loja-apple/images/banner-tv-02.png" alt="" class="banner-home">
    </mat-card-subtitle>

    <input type="text "[(ngModel)]="name" placeholder="Carlos">
    <p>{{name}}</p>
    <div class="product-list">
        <mat-card class="product" *ngFor="let product of products">
            <img  class="img-product" src="{{product.url}}" alt="">
            <p  class="name-product">{{product.name}}</p>
            <div>
                <p> {{product.price | currency:'BRL'}} </p>
                <p class="old-price"> {{product.price | currency:'BRL'}} </p>
            </div>
            <button class="btn-buy">Comprar</button>
        </mat-card>
    </div>
    
</mat-card>

