<mat-card class="nome mat-elevation-z3">
    <mat-card-title class="title">
        Titulo
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Exemplo
    </mat-card-subtitle>

    <div class="directivTest">
        <h1 *ngIf="canShow ; else notFound">
            Validacao correta
        </h1>
        <ng-template #notFound>
            Validacao incorreta
        </ng-template>
    </div>
    <ul>
        <li *myFor="let n em [1,2,3,4,5,6,7,8,9]" class="green">
            {{n}}
        </li>
    </ul>

    <input type="text "[(ngModel)]="name" placeholder="Carlos">
    <p>{{name}}</p>
</mat-card>
