<mat-card class="card">
    <mat-card-title>
        <p>Usuários</p>
    </mat-card-title>
    

    <mat-card class="card-user" *ngFor="let user of users">
        <div class="user-box">
            <img src="{{user.url}}" alt="" class="photo">
            <h1> {{user.userName}} </h1>
        </div>
        <p> {{user.password}} </p>
        <div class="directivTest">
            <!--This part show green if the banace is bigger then 0, else show balance red!--> 
            <div *ngIf="returnRed ; else notRed" >
                <p class="red">  {{user.balance | currency:'BRL'}} </p>
            </div>
            <ng-template #notRed >
                <p class="green">  {{user.balance | currency:'BRL'}} </p>
            </ng-template>
        </div>
    </mat-card>
</mat-card>