<mat-card>
    <mat-card-title>
        Alterar Produto
    </mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome"[(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.url" name="url">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="updateProduct()">Atualizar</button>
    <button (click)="cancel()" mat-raised-button >Cancelar</button>
</mat-card>